{:deps {
        org.clojure/clojure {:mvn/version "1.12.5"}
        ;; org.clojure/tools.deps.edn {:mvn/version "0.9.27"}
        io.github.clojure/tools.build {:git/tag "v0.10.14" :git/sha "1176afd"}
        slipset/deps-deploy {:mvn/version "0.2.5"}}

 :paths ["src"]
}
